<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.imut.jm.user.domain.user.dao.UserDao">
	<resultMap id="UserMap"
		type="cn.edu.imut.jm.user.domain.user.entity.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName"
			jdbcType="VARCHAR" />
		<result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
		<result column="user_phone" property="userPhone"
			jdbcType="VARCHAR" />
		<result column="user_email" property="userEmail"
			jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="BIT" />
		<result column="user_head_portrait" property="userHeadPortrait"
			jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastLoginTime"
			jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="BIT" />
	</resultMap>
	<sql id="User_Column_List">
		user_id, user_name,user_phone, user_email, user_sex,
		user_head_portrait,
		last_login_time, is_delete
	</sql>
	<!--根据id查询用户 -->
	<select id="selectUserById" resultMap="UserMap"
		parameterType="java.lang.Integer">
		select
		<include refid="User_Column_List" />
		from user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="selectUserByIds" resultMap="UserMap"
		parameterType="java.util.List">
		select
		<include refid="User_Column_List" />
		from user
		where user_id in
		<foreach collection="list" item="userId" index="index"
			open="(" close=")" separator=",">
			#{userId,jdbcType=INTEGER}
		</foreach>
	</select>
	<!--登录 -->
	<select id="userLogin" resultMap="UserMap" parameterType="string">
		select
		user_id, user_name,user_pwd,user_head_portrait
		from user where user_name=#{userName,jdbcType=VARCHAR}
	</select>

	<!--查询所有用户 -->
	<select id="selectUsers" resultMap="UserMap" parameterType="int">
		select
		<include refid="User_Column_List" />
		from user 
		<where>
			<if test="_parameter!=0">
			and is_delete=1
			</if>
		</where>
		 order by user_id desc
	</select>
	<!-- 验证用户名 -->
	<select id="validatorUserName" resultType="int" parameterType="string">
		select
		user_id
		from user where
		user_name=#{userName,jdbcType=VARCHAR} limit 1
	</select>
	<!-- 根据用户id查询用户角色 -->
	<resultMap id="RoleMap"
		type="cn.edu.imut.jm.user.domain.user.entity.Role">
		<id column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="role_name" property="roleName"
			jdbcType="VARCHAR" />
		<result column="role_descride" property="roleDescride"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Roles_Column_List">
		role_id, role_name, role_descride
	</sql>
	<select id="selectRoleByUserId" parameterType="int"
		resultMap="RoleMap">
		select
		<include refid="Roles_Column_List" />
		from role where role_id in (SELECT role_id FROM user_role
		where
		user_id=#{userId,jdbcType=INTEGER})
	</select>
	<select id="selectRoles" resultMap="RoleMap">
		select
		<include refid="Roles_Column_List" />
		from role
	</select>
	<!--添加用户 -->
	<insert id="insertUser"
		parameterType="cn.edu.imut.jm.user.domain.user.entity.User"
		keyColumn="user_id" keyProperty="userId" useGeneratedKeys="true">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userPwd != null">
				user_pwd,
			</if>
			<if test="userPhone != null">
				user_phone,
			</if>
			<if test="userEmail != null">
				user_email,
			</if>
			<if test="userSex != null">
				user_sex,
			</if>
			<if test="userHeadPortrait != null">
				user_head_portrait,
			</if>
			<if test="lastLoginTime != null">
				last_login_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				#{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userPhone != null">
				#{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				#{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				#{userSex,jdbcType=BIT},
			</if>
			<if test="userHeadPortrait != null">
				#{userHeadPortrait,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<!--插入用户角色 -->
	<insert id="insertUserRole">
		insert into user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">

			user_id,
			role_id,
		</trim>
		values
		<foreach collection="roleIds" item="roleId" index="index"
			separator=",">
			(#{userId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER})
		</foreach>

	</insert>
	<!-- 用户头像 -->
	<update id="updateUserImg">
		update user
		<set>
			<if test="userHeadPortrait != null">
				user_head_portrait =
				#{userHeadPortrait,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 登录，更新登录最后一次时间 -->
	<update id="updateUserLastTime">
		update user
		<set>
				last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 重置密码 -->
	<update id="resetUserPwd">
		update user
		<set>
				user_pwd = #{userPwd,jdbcType=VARCHAR},
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 更新用户信息 -->
	<update id="updateUser" parameterType="cn.edu.imut.jm.user.domain.user.entity.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=BIT},
      </if>
      <if test="userHeadPortrait != null" >
        user_head_portrait = #{userHeadPortrait,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <!--删除角色根据用户id  -->
  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from user_role
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <!--去激活  -->
  <update id="updateUserDel" parameterType="int">
		update user
		<set>
			is_delete = 1,
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<delete id="deleteUser" parameterType="java.lang.Integer">
		delete from
		user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<!--批量去激活-->
	<update id="updateMultipleUserDel"
		parameterType="java.util.List">
		update user
		<set>
			is_delete = 1,
		</set>
		where user_id in
		<foreach collection="list" item="userId" index="index"
			open="(" close=")" separator=",">
			#{userId,jdbcType=INTEGER}
		</foreach>
	</update>
	<!--批量删除  -->
	<delete id="deleteMultipleUser"
		parameterType="java.util.List">
		delete from user
		where user_id in
		<foreach collection="list" item="userId" index="index"
			open="(" close=")" separator=",">
			#{userId,jdbcType=INTEGER}
		</foreach>
	</delete>
	
	<!-- 前端门户请求 -->
	<!--登录 -->
	<select id="doorUserLogin" resultMap="UserMap" parameterType="string">
		select
		user_id, user_name,user_pwd,user_head_portrait
		from user where user_name=#{userName,jdbcType=VARCHAR} and is_delete=0
	</select> 
</mapper>